
<p id="notice"><%= notice %></p>

<p>
  <b>Meetingroom:</b>
  <%= @booking.meetingroom_id %>
</p>

<p>
  <b>Starttime:</b>
  <%= @booking.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @booking.endtime %>
</p>

<p>
  <b>Attendees:</b>
  <%= @booking.attendees %>
</p>

<p>
  <b>Kaffe og The:</b>
  <%= @booking.coffee_and_tea %>
</p>

<p>
  <b>Bookers name:</b>
  <%= @booking.bookers_name %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>


