<%= form_for(@booking, :html => { :multipart => true }) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   Mødelokale
    <br />
    <%= f.select :meetingroom_id, @select_meetingroom%>
  </div>
	<div class="field">
      dato:
      <br />
	<%= f.date_select :created_at %>
  </div>
  <br />
  <div class="field">
	Tidspunkt
	<br />
    Fra: 
    <%= f.time_select :starttime %>
     - Til 
    <%= f.time_select :endtime %>
  </div>
  <div class="field">
    <%= f.label :attendees %><br />
    <%= f.text_field :attendees %>
  </div>
  <div class="field">
    <%= f.label :coffee_and_bread %><br />
    <%= f.check_box :coffee_and_bread %>
  </div>
  <div class="field">
	<% if(current_user.role == 'member' )  %>
	    Bookes af <%= @user.name%>
    	<%= f.hidden_field :bookers_name, :value => @user.name %>
    <%else%>
      	<%= f.label :bookers_name %><br />
  		<%= f.select :bookers_name, @select_user%>
    <%end%>
    <%#= f.text_field :bookers_name %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit 'Opret booking' %>
  </div>
<% end %>
