<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @newspost.title %>
</p>

<p>
  <b>Body:</b>
  <%= @newspost.body %>
</p>


<%= link_to 'Edit', edit_newspost_path(@newspost) %> |
<%= link_to 'Back', newsposts_path %>
