<h1>Listing meetingrooms</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetingrooms.each do |meetingroom| %>
  <tr>
    <td><%= meetingroom.title %></td>
    <td><%= meetingroom.body %></td>
    <td><%= link_to 'Show', meetingroom %></td>
    <td><%= link_to 'Edit', edit_meetingroom_path(meetingroom) %></td>
    <td><%= link_to 'Destroy', meetingroom, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meetingroom', new_meetingroom_path %>
