<%= form_for(@meetingroom, :html => { :multipart => true }) do |f| %>
  <% if @meetingroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meetingroom.errors.count, "error") %> prohibited this meetingroom from being saved:</h2>

      <ul>
      <% @meetingroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
	<%= f.label :image %><br />
	<%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
